{% extends 'base.html' %}

{% block 'main_body' %}
    <div class="login-form">
        <form method="post">
            {% csrf_token %}
            <label for="username">Username: </label>
            <input type="text" name="username" >
            <label for="password">Password: </label>
            <input type="text" name="password">
            <button>LOGIN</button>
        </form>

        {% for message in messages %}
            <p class="message {{message.tags}}">{{message}}</p>
        {% endfor%}
    </div>
{% endblock %}