:root {
    --main-color-salmon: #F78764;
    --font-color: #1A181B;
    --links-color-red: #A20021;
    --secondary-color-blue: #2B4162;
    --background-color-green: #548687;
    --font-p: 'Montserrat', sans-serif;
    --font-titles: 'Allerta Stencil', sans-serif;
}

nav>a {
    font-family: var(--font-p);
    color: var(--links-color-red);
    text-decoration: none;
    float: right;
    margin-right: 5%;
}

header {
    margin-left: 10%;
}

header>h1 {
    color: var(--main-color-salmon);
    font-family: var(--font-titles);
    margin-bottom: 0;
}

header>p {
    color: var(--secondary-color-blue);
    font-family: var(--font-titles);
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;

}

.post-list-container {
    grid-column-start: 2;
    grid-column: 2 / 5;
}

.post-list-container h3 {
    color: var(--links-color-red);
    font-family: var(--font-p);
}

.blog-list-container h2, .post-list-container h2 {
    color: var(--main-color-salmon);
    font-family: var(--font-p);
}

.blog-list-container article, span, .post-list-container article, span {
    color: var(--font-color);
    font-family: var(--font-p);
}

.blog-list-container{
    grid-column-start: 2;
    text-align: center;
}

.login-form, .signup-form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
}

.login-form form, .signup-form form {
    display: grid;
    grid-template-rows: repeat(3, auto);
    font-family: var(--font-p);
    background-color: var(--background-color-green);
    padding: 10%;
    border-radius: 10px;
    color: white;
}

.error {
    color: var(--links-color-red);
    text-align: center;
}

.login-form input, .signup-form input {
    width: 100%;
}

.login-form input {
     margin-bottom: 5%;
}

.login-form button, .signup-form button {
    background-color: var(--main-color-salmon);
    border-radius: 10px;
    margin-top: 5%;
    width: 40%;
    padding: 1% 0 1% 0;
    color: white;
    justify-self: center;
}

.errorlist li {
    list-style-type: none;
    color: var(--main-color-salmon);
}

footer {
    color: var(--main-color-salmon);
    text-align: center;
    font-family: var(--font-p);
    background-color: var(--background-color-green);
    padding: 2%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}